html {
    overscroll-behavior:auto;

}

body {
  overscroll-behavior: 2px;
  background-color: black;
}


/*
.name-detail{
  margin-top: 170px;
  margin-left: 220px;
  
  left: 100px ;
  right: 100px;
  line-height: 1.2;
}
*/

.name-detail{
  font-family: "Anybody";
  position: relative;
  margin-left: 20%;
  margin-top: 170px;  
  margin-right: 10%;
  line-height: 1.2;
}



.text-one{
  font-size: 17px;
  color:  white ;
}

.name{
  font-size: 40px;
  color: white;
  font-weight: 700;
}

.university{
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.round-logo{
  background: white;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.custom-button{
  background-color:#11393B;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration:solid;
  font-size: 14px;
  border-radius: 6px;
}

.text-two{
  color: #B57935;
}


.dark-body-info{
  position: relative;
    margin-left: 20%;
    margin-top: 20px;  
    margin-right: 10%;
}

.text-three{
  color: #577399;
}


/* for demo purposes */
  
  .card-img-overlay {
	transform: translateY(13rem);
	transition: transform 0.18s ease-in;
	background-color: black;
  }
  .card-img-overlay .card-text {
	opacity: 0;
	transform: translateY(-6rem);
	transition: opacity 0.05s ease-in, transform 0.25s ease-in;
  }
  .card-img-overlay .btn {
	opacity: 0;
	transform: translateY(2rem);
  }
  
  .card {
	overflow: hidden;
	background-color: #345;
  }
  .card:hover .card-img {
	mix-blend-mode: darken;

  }
  .card:hover .card-img-overlay {
	transform: translateY(0);
	transition: transform 0.25s ease-out;
	background-color: rgba(0, 0, 0, 0.7);

  }
  .card:hover .card-text {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 0.5s ease-out, transform 0.2s ease-out;
  }
  .card:hover .btn {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 0.7s ease-out, transform 0.35s ease-out;
  }


